*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


@font-face {
    font-family: new-font;
    src: url(font/Casttelo\ Signature.ttf);
  }


@font-face {
    font-family: one-font;
    src: url(font/Creepy\ Night.otf);


  }

body{
    background-color: #334252;
    font-family: one-font;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 1.9vw;
    color: black;
    
}
.center{
    justify-content: center;
    align-items: center;
}
.dis-flex{
    display: flex;
}
.dis-none{
    display: none;

}


/*------------------------header-------------*/
header{
    padding: 50px;
}
.header-nav{
    
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.header-ul li{
    display: inline-block;
    padding: 10px;
}
.header-btn{
    padding: 10px 15px ;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: #F75940;
    border: none;
    border-radius: 5px;
    color: #fff!important;
}

.banner{
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.banner-content{
    width: 50%;
    height: 100%;
    flex-direction: column;
}
.banner-image{
    margin-top: 50px;
}
.banner-content-text > *{
    margin-bottom: 2vw;
}
.banner-content-text{
    /* color: rgba(243, 235, 235, 0.836); */
    letter-spacing: 0.2vw;
}
.banner-content-text h1{
    font-size: 2.5vw;
    color: #6b778d;

}

.banner-content-text p{
    font-size: 1.5vw;
    color: #6b778d;
}

.banner-content-btn > * {
    margin-right: 10px;

}

.banner-content-btn button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px #999a9b3b;
    margin-top: 20px;
    transition: background 0.4s;
    outline: none;

} 
.burger-nav{
    font-size: 30px;
}

.banner-content-btn button:first-child{
    background-color:  #F75940;
} 

.banner-content-btn button:hover{
    /* border: 1px solid black; */
    outline: none;
    background: aqua;
} 
/*-----------------------main---------------------*/
main{
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.main-1{
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;


}
.main-1-text{
    flex-direction: column;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
}
.main-1-text h2{
    font-size: 4vw;
    margin-bottom: 10px;
}
.main-1-text p{
    font-size: 2vw;
    margin-bottom: 10px;
    text-align: center;
}

.list-slider li {
    display: inline-block;
    padding: 30px;
    font-size: 1.8vw;
    border-bottom: 2px solid hsl(229, 8%, 60%);
}
.list-slider li:hover {
    border-bottom: 2px solid #F75940;
}

.list-container-slider{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.slider-text-container > *{
    margin-bottom: 30px;
}
.slider-text-container h3{
    letter-spacing: 5px;
    font-size: 2vw;
}

.slider-text-container p{
    font-size: 1.5vw;
    line-height: 30px;
}
.slider-text-container button{
    padding: 10px 15px;
    font-size: 1.9vw;
    border: none;
    border-radius: 5px;
}

/*----------main-2-----------------*/
.main-2{
    margin-top: 100px;
    text-align: center;
    width: 100%;
    height: 500px;

}
.main-2-container{
    width: 100%;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-2-box{
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.main-2-box div{
    border: 1px solid black;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 3px 10px rgba(35,33,34,0.50);
    border-radius: 5px;

}
.main-2-box div h3{
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
}
.main-2-box div p{
    padding-left: 25px;
    letter-spacing: 2px;
    font-size: 20px;
    margin-top: 20px;
}
.main-2-box div button{
    /*font-weight: 500;*/
    font-size: 15px;
    margin-top: 20px;
    background-color: cornflowerblue;
    padding: 9px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.4s;
}
.main-2-box div button:hover {

    background-color: darkgray;

}
.main-2-box2{
    margin-top: 50px;
}
.main-2-box3{
    margin-top: 90px;
}
.main-2-text > *{
    margin-top: 20px;

}
.main-2-text h3{
    font-size: 20px;

}
.main-2-text p{
    font-size: 20px;

}
/*-------------------------------main-3------------------------*/
.main-3{
    padding-left: 30%;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 30px;
}
.main-3 > *{
    max-width: 60%;
    margin-top: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}
.main-3 h3{
    font-size: 2vw;
    margin-bottom: 10px;
}
.main-3-slid p{
    font-size: 20px;
    padding-top: 10px;
    letter-spacing: 1.5px;
}
.main-3-slid p:last-of-type{

    padding-top: 50px;
}
.main-3-slid p:first-of-type{
    font-size: 20px;

}
.main-3 div:last-of-type{
    border-bottom: none!important;
}
.main-3 div button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: cornflowerblue;
    border-radius: 5px;
    border: none;
    transition: background-color 0.4s;
}
.main-3 button:hover{
    background-color: darkgray;

}
.icon-hidden1,
.icon-hidden2 ,
.icon-hidden3 ,
.icon-hidden4
{
    color: #F75940;
}

/*--------------------------main-4---------------------------*/
.main-4{
    width: 100%;
    background-color: cornflowerblue;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-4-container{
    text-align: center;
    color: black;
}
.main-4-container p{
    text-align: center;
    font-size: 20px;
    margin-bottom:30px ;
}
.main-4-container h4{
    text-align: center;
    font-size: 30px;
    margin-bottom:30px ;
    /*margin-top:80px ;*/

}
.main-4-container input{
    width: 550px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin-bottom:10px ;
    margin-right: 10px;
    border: none;
    outline: 0;
    border-radius: 5px;
    /*display: none;*/
}
.main-4-container button{
    text-align: center;
    font-size: 30px;
    margin-bottom:10px ;
    background-color: coral;
    transition: background-color 0.4s;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.main-4-container button:hover{
    background-color: darkgray;

}
/*-------------------footer--------------------*/
footer{
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background-color: darkslategray;
}

.footer-right img {
  margin-right: 10px;
}
.footer-left > *{
    margin-left: 10px;
}
.footer-left p{
    font-size: 25px;
}